        </main>
        <footer>
            <p>Hier komt de footer.</p>
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/io.js"></script>
        <script src="./js/map.js"></script>
    </body>
</html>