        </main>
        <footer>
            <p>Gemaakt met door Marten de Bruijn</p>
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/io.js"></script>
    </body>
</html>