<%- include('./partials/head.ejs') %>
<form id="changeUsername" action="">
    <input id="u" autocomplete="off" /><button>Set username</button>
</form>
<p id="playerCount">0 spelers</p>
<%- include('./partials/footer.ejs') %>