main {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 1.5fr;
  grid-template-rows: 1fr;
}
.flag {
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag > img {
  max-height: 100%;
  max-width: 100%;
}
.city-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city-left {
  border-right: 2px solid var(--accent-color);
}
.city-right {
  border-left: 2px solid var(--accent-color);
}
.vs-circle {
  height: 3em;
  width: 3em;
  background: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-1.5em, -1.5em);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderboard {
  border-right: 4px solid var(--accent-color);
}
.chat {
  border-left: 4px solid var(--accent-color);
  overflow: scroll;
}
.city-box:hover {
  cursor: pointer;
  background: #cecece;
}
form {
  background: #000;
  padding: 3px;
  position: fixed;
  width: 100%;
}
#sendMessage {
  bottom: calc(3em + 8px);
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#messages p {
  padding: 5px 10px;
}
#messages p:nth-child(odd) {
  background: var(--accent-color);
  color: white;
}
#messages p:first-of-type {
  padding-top: 3em;
}
